/* Your app custom styles here */
/* poppins-regular - latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/poppins-v13-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Poppins Regular'), local('Poppins-Regular'),
       url('../fonts/poppins-v13-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/poppins-v13-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/poppins-v13-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/poppins-v13-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/poppins-v13-latin-regular.svg#Poppins') format('svg'); /* Legacy iOS */
}
/* poppins-italic - latin */
@font-face {
  font-family: 'Poppins';
  font-style: italic;
  font-weight: 400;
  src: url('../fonts/poppins-v13-latin-italic.eot'); /* IE9 Compat Modes */
  src: local('Poppins Italic'), local('Poppins-Italic'),
       url('../fonts/poppins-v13-latin-italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/poppins-v13-latin-italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/poppins-v13-latin-italic.woff') format('woff'), /* Modern Browsers */
       url('../fonts/poppins-v13-latin-italic.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/poppins-v13-latin-italic.svg#Poppins') format('svg'); /* Legacy iOS */
}
/* poppins-700 - latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/poppins-v13-latin-700.eot'); /* IE9 Compat Modes */
  src: local('Poppins Bold'), local('Poppins-Bold'),
       url('../fonts/poppins-v13-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/poppins-v13-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/poppins-v13-latin-700.woff') format('woff'), /* Modern Browsers */
       url('../fonts/poppins-v13-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/poppins-v13-latin-700.svg#Poppins') format('svg'); /* Legacy iOS */
}
/* poppins-700italic - latin */
@font-face {
  font-family: 'Poppins';
  font-style: italic;
  font-weight: 700;
  src: url('../fonts/poppins-v13-latin-700italic.eot'); /* IE9 Compat Modes */
  src: local('Poppins Bold Italic'), local('Poppins-BoldItalic'),
       url('../fonts/poppins-v13-latin-700italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/poppins-v13-latin-700italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/poppins-v13-latin-700italic.woff') format('woff'), /* Modern Browsers */
       url('../fonts/poppins-v13-latin-700italic.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/poppins-v13-latin-700italic.svg#Poppins') format('svg'); /* Legacy iOS */
}
/* poppins-900 - latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 900;
  src: url('../fonts/poppins-v13-latin-900.eot'); /* IE9 Compat Modes */
  src: local('Poppins Black'), local('Poppins-Black'),
       url('../fonts/poppins-v13-latin-900.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/poppins-v13-latin-900.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/poppins-v13-latin-900.woff') format('woff'), /* Modern Browsers */
       url('../fonts/poppins-v13-latin-900.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/poppins-v13-latin-900.svg#Poppins') format('svg'); /* Legacy iOS */
}
/* poppins-900italic - latin */
@font-face {
  font-family: 'Poppins';
  font-style: italic;
  font-weight: 900;
  src: url('../fonts/poppins-v13-latin-900italic.eot'); /* IE9 Compat Modes */
  src: local('Poppins Black Italic'), local('Poppins-BlackItalic'),
       url('../fonts/poppins-v13-latin-900italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/poppins-v13-latin-900italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/poppins-v13-latin-900italic.woff') format('woff'), /* Modern Browsers */
       url('../fonts/poppins-v13-latin-900italic.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/poppins-v13-latin-900italic.svg#Poppins') format('svg'); /* Legacy iOS */
}



* {
	font-family: 'Poppins', Arial, sans-serif;
}

:root {
    --f7-theme-color: #9c27b0;
    --f7-theme-color-rgb: 156, 39, 176;
    --f7-theme-color-shade: #7e208f;
    --f7-theme-color-tint: #b92fd1;
    --f7-navbar-bg-color: #9c27b0;
    --f7-navbar-bg-color-rgb:  156, 39, 176;
    --f7-navbar-bg-image: var(--f7-bars-bg-image);
    --f7-navbar-border-color: var(--f7-bars-border-color);
    --f7-navbar-link-color: #FFFFFF;
    --f7-navbar-text-color: #FFFFFF;
    --f7-toolbar-bg-color:#9c27b0;
    --f7-toolbar-bg-color-rgb:  156, 39, 176;
    --f7-toolbar-bg-image: var(--f7-bars-bg-image);
    --f7-toolbar-border-color: var(--f7-bars-border-color);
    --f7-toolbar-link-color: #FFFFFF;
    --f7-toolbar-text-color: #FFFFFF;
    --f7-tabbar-link-active-color: var(--f7-theme-color);



}







/* Formato INDEX */
.formatoBloques{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10vh;
}

.transparente{
  background-color: transparent !important;
}

.transp{
--f7-list-bg-color: transparent;
}

.FormatoBtnIni{
--f7-block-strong-bg-color: transparent;
}

.btn{
--f7-button-border-width: 3px !important;
--f7-button-border-color:#FFFFFF !important;
--f7-button-border-radius:20px;
}


.inputsindex{
--f7-input-bg-color: transparent !important;
--f7-input-placeholder-color: rgba(255, 255, 255, 0.45);
--f7-label-text-color: rgba(255, 255, 255, 0.84);
--f7-input-text-color: rgba(255, 255, 255, 0.87);
}
.bg-color-purple {
  --f7-theme-color-bg-color: #9c27b0;
}

/*.alinearIses{
  align-items: center;
}*/

.mrgTitNav{
  margin-left: 20vw !important;
}

.noMargin{
  margin: 0px !important;
}




.centrar{
  text-align: center;
}

.hidden {
display: none !important;
}

.activo{
  display: block !important;
}


.contenedorRegsitrarme{
  display: flex;
  flex-direction: column;
  justify-content:center;
}

.esconder{
  display:none;
  visibility: hidden;
}

.flexJustifyCenter{
  display: flex;
  justify-content: center !important;
}


.botonesOrg{   /* de la vista de la organizacion (desde un usuario)*/
  font-size: 8px;
  width:100px;
}

.btnToolbar{
    font-size: 18px;
  --f7-tabbar-link-text-transform: none;
  --f7-tabbar-link-font-weight: 600;
  --f7-tabbar-link-letter-spacing: 1;
  --f7-tabbar-label-font-size: 28px;

  --f7-tabbar-label-tablet-font-size: 14px;
  --f7-tabbar-label-font-weight: 500;
  --f7-tabbar-label-letter-spacing: 0.01;
  --f7-tabbar-link-inactive-color:#FFFFFF;
}



.colbtn{          /*  ((PRUEBA EN BTN DE POSTURLAME)de la vista de la organizacion (desde un usuario) */
  display: flex;
  flex-direction: column;
  justify-content: center;
}


.demo-card-header-pic .card-header {         /*formato cards Animales en Adopcion*/
    height: 40vw;
    background-size: cover;
    background-position: center;
    color: #fff;
  }


  .verAnimal{

  }
